:root {
    --primary-color: #055a05;
    --accent1-color: #264753;
    --accent2-color: #e9c46a;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    border-bottom: 2px solid var(--primary-color);
    display: grid;
    grid-template-columns: 120px 1fr 1fr;
    align-items: center;
    padding: 10px;

}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);

}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    background-color: var(--accent1-color);
    text-align: center;
    color: #fff;

}

p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article img {
    float: right;
    width: 125px;
}

.hero article {
    position: absolute;
    bottom: 20px;

}

.history {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.history h2 {
    grid-column: 1/4;

}

nav ul {
    display: flex;
    justify-content: space-around;
}

header img {
    width: 100px;
}

.hero h1 {
    position: absolute;
}

.history img {
    width: 100%;
    max-width: 250px;
    height: auto;
    padding: 20px;
}

.history p {
    padding: 3px;
    text-align: center;
    font-style: italic;
    font-size: small;

}

.adventures {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

}

.adventures h2 {
    grid-column: 1 / 6;
}

.adventures img {
    width: 100%;
    max-width: 250px;
    height: auto;
    padding: 20px;

}

.adventures figure {
    margin: 10px;
    text-align: center;
    justify-content: space-between;
}

.adventures figcaption {
    text-align: center;
}

footer {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 10px;
    margin: 0px;
}

.socialmedia {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin: 0;
    padding: 0;

}

.socialmedia a {
    display: block;
    text-decoration: none;
}

.socialmedia img {
    width: 50px;
    height: 35px;
    display: block;

}