* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --padding: 2px;
    --height: auto;
    --width: 150px;
    --border: 1px solid black;
    --text-align: center;

}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;

}

h1 {
    border: 2px solid black;
    color: darkblue;
}

main {
    max-width: 840px;
}

img {

    box-shadow: 0 0 30px;
}

main img {
    float: right;
    box-shadow: 0 0 20px;
}

aside h2 {
    position: absolute;
    top: 45px;
    left: 200px;

}

aside {
    width: 20rem;
    text-align: center;
}

aside img {
    width: 200px;

}

p {
    padding: 0;
}

header,
.grid,
footer {
    margin-top: 840px;
    margin: 0 auto;
}

/* class selectors */
.box {
    margin: 0;
    padding: 0;
    border: 1px solid rgb(0, 0, 0 / 10%);
    background-color: #ddd;
    color: #000;
}

nav {
    background-color: steelblue;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 750;
    color: white;

}

.grid {
    display: grid;
    align-items: center;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

aside {
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}