* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --padding: 2px;
    --height: auto;
    --width: 150px;
    --border: 1px solid black;
    --text-align: center;

}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;

}

h1 {
    color: darkblue;
}

main {
    max-width: 840px;
}

img {

    box-shadow: 0 0 30px;
}

main img {
    float: right;
    box-shadow: 0 0 20px;
}

aside h2 {
    position: absolute;
    top: 45px;
    left: 200px;

}

aside {
    width: 20rem;
    text-align: center;
}

aside img {
    width: 200px;

}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;

}

/* class selectors */
.box {
    margin: 0;
    padding: 0;
    border: 1px solid rgb(0, 0, 0 / 10%);
    background-color: #ddd;
    color: #000;
}